PORT=3000
JWT_SECRET=cambia_esta_clave_secreta

MYSQL_ADDON_HOST=bhhyp9asrveqpfc7liwd-mysql.services.clever-cloud.com
MYSQL_ADDON_DB=bhhyp9asrveqpfc7liwd
MYSQL_ADDON_USER=ursscyfoaie1wqoz
MYSQL_ADDON_PORT=3306
MYSQL_ADDON_PASSWORD=vPQBLchETh0sS5EFCfrT
